body {
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: white
}

.img {
    border: 2px solid white;
}

.container-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}